<footer>
  <div class="container text-center py-5">
    <h2 class="pb-3"><strong>Raphael RALAIKOA</strong> Portfolio</h2>
    <p class="mx-auto w-50">
      Totam nobis ipsa nisi. Fuga nobis et neque. Qui aliquid reiciendis
      voluptatibus. Ab quis assumenda ut. Rerum illum sed voluptatem.
    </p>
    <div class="d-flex justify-content-center list-icon-footer py-5">
      <a href="#">
        <img class="footer-ico" src="./assets/img/Facebook Icon.svg" alt="" />
      </a>
      <a href="#">
        <img class="footer-ico" src="./assets/img/Linkedin.svg" alt="" />
      </a>
      <a href="#">
        <img class="footer-ico" src="./assets/img/Google G.svg" alt="" />
      </a>
      <a href="#">
        <img class="footer-ico" src="./assets/img/Github Mark.svg" alt="" />
      </a>
    </div>
  </div>
</footer>
