<section id="newsletter" class="py-5">
  <div class="container">
    <div class="col-sm-8">
      <h2>Me contacter</h2>
      <form action="#">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputEmail1">Votre prénom</label>
              <input
                type="text"
                class="form-control"
                id="inputFirstName"
                aria-describedby="nameHelp"
                placeholder="Enter firstName"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleInputEmail1">Votre nom</label>
              <input
                type="text"
                class="form-control"
                id="inputLastName"
                aria-describedby="lastNameHelp"
                placeholder="Enter Lastname"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Adresse e-mail</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Votre message</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="4"
          >
Votre message...</textarea
          >
        </div>
      </form>
    </div>
  </div>
</section>
