<section id="techno-maitrise" class="py-5">
  <div class="container text-center">
    <h2 class="pb-3">Techno maitrises</h2>
    <p class="w-75 mx-auto">
      Pariatur recusandae quidem consectetur optio rem qui. Delectus corrupti
      quaerat mollitia consequuntur ab. Aut sapiente culpa dolor ut enim sint
      eligendi dicta suscipit. Error eligendi est tenetur. Est aperiam nihil.
      Neque ab incidunt accusamus.
    </p>
    <div class="d-flex justify-content-center flex-wrap list-icon">
      <img class="techno-ico" src="./assets/img/Treva.svg" alt="" />
      <img class="techno-ico" src="./assets/img/Nirastate.svg" alt="" />
      <img class="techno-ico" src="./assets/img/Asgardia.svg" alt="" />
      <img class="techno-ico" src="./assets/img/Hexa.svg" alt="" />
      <img class="techno-ico" src="./assets/img/Zoo TV.svg" alt="" />
      <img class="techno-ico" src="./assets/img/Solaytic.svg" alt="" />
      <img class="techno-ico" src="./assets/img/Earth 2.0.svg" alt="" />
    </div>
  </div>
</section>
