<section id="about-us">
  <div class="container">
    <div class="row py-5 align-items-center">
      <div class="col-md-7">Image</div>
      <div class="col-md-5">
        <h1 class="mb-3 text-highlight">A propos de moi</h1>
        <p>
          Quos id omnis quia vitae voluptates dolore minima omnis. Incidunt
          velit debitis ex corrupti dolores laboriosam. Alias eum sit. Maxime
          esse voluptatem. Repudiandae voluptas delectus inventore nam sit.
        </p>
        <button class="btn btn-primary mt-5">Me contacter</button>
      </div>
    </div>
  </div>
</section>
